@import "../checkInbox/checkinbox.scss";

.reset-password {
  @include divStyling();
  @include flexCenter(column);
  gap: 24px;
  padding: 40px 32px;
  width: 528px;

  .input-fields {
    width: 100%;
  }
}
